[Unit]
Description=Set wifi localization
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/wifiset.sh

[Install]
WantedBy=multi-user.target
